.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-1);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
}

.popup_opened {
    display: flex;
}

.popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(2px);
}

.popup__content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background-color: var(--background-color);
    border-radius: 16px;
    box-shadow: 0 0 16px 8px #00000040;
}

.popup__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 104px;
    background-color: var(--surface-primary-color);
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.popup__body {
    padding: 24px;
}
