.login {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 72px 64px;
    background-color: var(--surface-primary-color);
    border-radius: 16px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.login__button {
    margin-top: 16px;
}
