services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile.prod
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: always
  
  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile.prod
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: