.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100dvh;
}

.layout__sidebar {
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
}

.layout__main {
    flex-grow: 1;
    background-color: var(--surface-primary-color);
}