.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100dvh;
}

.layout__sidebar {
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
}

.layout__main {
    flex-grow: 1;
    padding: 24px;
    background-color: var(--surface-primary-color);
}

.main__content {
    max-width: 1000px;
    margin: 0 auto;
}
