.button {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 24px;
    transition:
        background-color 0.3s,
        border-color 0.3s,
        color 0.3s;
}

.button_width_full {
    width: 100%;
}

.button_with_icon:not(.button_with_label) {
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 50%;
}

.button_theme_primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.button_theme_primary:not(:disabled):hover {
    background-color: var(--primary-hover-color);
}

.button_theme_primary-line {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.button_theme_primary-line:not(:disabled):hover {
    color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}
