<div class="shops">
    <div class="shops__header">
        <ui-title [title]="'Establishments'"></ui-title>

        <ui-button [label]="'Add establishment'" [icon]="'fa-solid fa-plus'" [type]="'primary'" (click)="openShopCreationPopup()"></ui-button>
    </div>

    <div class="shops__list">
        @for (shop of shops(); track shop.establishment_id) {
        <div class="shops__item">
            <div class="item__info">
                <div class="item__title">
                    @if (shop.type === ShopTypeEnum.CAFE) {
                    <span class="item__type">
                        <i class="fa-solid fa-mug-saucer"></i>
                    </span>
                    } @else if (shop.type === ShopTypeEnum.RESTAURANT) {
                    <span class="item__type">
                        <i class="fa-solid fa-utensils"></i>
                    </span>
                    } @else if (shop.type === ShopTypeEnum.SHOP) {
                    <span class="item__type">
                        <i class="fa-solid fa-store"></i>
                    </span>
                    }

                    <span class="item__name">{{ shop.name }}</span>
                </div>

                <div class="item__details">
                    <span class="details__row">
                        <i class="fa-solid fa-location-dot"></i>
                        {{ shop.address }}
                    </span>

                    <span class="details__row">
                        <i class="fa-solid fa-phone"></i>
                        {{ shop.phone }}
                    </span>

                    <span class="details__row">
                        <i class="fa-solid fa-envelope"></i>
                        {{ shop.email }}
                    </span>
                </div>
            </div>

            <div class="item__actions">
                <ui-button [icon]="'fa-solid fa-pen'" [type]="'primary-line'" (click)="editShop(shop.establishment_id)"></ui-button>
                <ui-button [icon]="'fa-solid fa-trash'" [type]="'primary-line'" (click)="deleteShop(shop.establishment_id)"></ui-button>
            </div>
        </div>
        }
    </div>
</div>

<ui-popup [isOpen]="isShopCreationPopupOpen() || isShopEditingPopupOpen()" [title]="popupTitle()" (closePopup)="onPopupClose()">
    <form class="popup__form">
        <ui-input [label]="'Name'" [(value)]="shopName" [type]="'text'" [name]="'shop-name'" [autocomplete]="'off'"></ui-input>

        <ui-input [label]="'Phone'" [(value)]="shopPhone" [type]="'phone'" [name]="'shop-phone'" [autocomplete]="'off'"></ui-input>

        <ui-input [label]="'Email'" [(value)]="shopEmail" [type]="'email'" [name]="'shop-email'" [autocomplete]="'off'"></ui-input>

        <ui-select [label]="'Type'" [(value)]="shopType">
            <option [value]="ShopTypeEnum.CAFE">Cafe</option>
            <option [value]="ShopTypeEnum.RESTAURANT">Restaurant</option>
            <option [value]="ShopTypeEnum.SHOP">Shop</option>
        </ui-select>

        <ui-input [label]="'Address'" [(value)]="shopAddress" [type]="'text'" [name]="'shop-address'" [autocomplete]="'off'"></ui-input>

        @if (isShopEditingPopupOpen()) {
        <ui-button
            class="form__submit"
            [label]="'Update'"
            [type]="'primary'"
            [isFullWidth]="true"
            (click)="updateShop($event)"
        ></ui-button>
        } @else {
        <ui-button
            class="form__submit"
            [label]="'Create'"
            [type]="'primary'"
            [isFullWidth]="true"
            (click)="createShop($event)"
        ></ui-button>
        }
    </form>
</ui-popup>
