<div class="products">
    <div class="products__header">
        <ui-title [title]="'Products'"></ui-title>

        <ui-button [label]="'Add product'" [icon]="'fa-solid fa-plus'" [type]="'primary'"></ui-button>
    </div>

    <table class="products__table">
        <thead>
            <tr>
                <th class="table__cell table__cell_header table__cell_clickable" (click)="orderBy('name')">
                    Name @if (orderByField() === 'name') {
                    <i class="fa-solid" [ngClass]="orderDirection() === 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                    } @else {
                    <i class="fa-solid fa-arrows-up-down"></i>
                    }
                </th>
                <th class="table__cell table__cell_header table__cell_clickable table__cell_centered" (click)="orderBy('price')">
                    Price @if (orderByField() === 'price') {
                    <i class="fa-solid" [ngClass]="orderDirection() === 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                    } @else {
                    <i class="fa-solid fa-arrows-up-down"></i>
                    }
                </th>
                <th class="table__cell table__cell_header table__cell_centered">Wholesale Price</th>
                <th class="table__cell table__cell_header table__cell_clickable table__cell_centered" (click)="orderBy('available_quantity')">
                    Available Quantity @if (orderByField() === 'available_quantity') {
                    <i class="fa-solid" [ngClass]="orderDirection() === 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                    } @else {
                    <i class="fa-solid fa-arrows-up-down"></i>
                    }
                </th>
                <th class="table__cell table__cell_header table__cell_centered">Status</th>
                <th class="table__cell table__cell_header table__cell_centered">Actions</th>
            </tr>
        </thead>

        <tbody>
            @for (product of products(); track product.product_id) {
            <tr class="table__row">
                <td class="table__cell">{{ product.name }}</td>
                <td class="table__cell table__cell_centered">{{ product.price | currency: "UAH" }}</td>
                <td class="table__cell table__cell_centered">
                    {{ product.wholesale_price | currency: "UAH" }} (from {{ product.wholesale_minimum_quantity }} pcs.)
                </td>
                <td class="table__cell table__cell_centered">{{ product.available_quantity }}</td>
                <td class="table__cell table__cell_centered">
                    @if (product.is_active) {
                    <span class="cell__status cell__status_active">Active</span>
                    } @else {
                    <span class="cell__status cell__status_inactive">Inactive</span>
                    }
                </td>

                <td class="table__cell table__cell_centered">
                    <div class="action-wrapper">
                        <ui-button [icon]="'fa-solid fa-pen'" [type]="'primary-line'"></ui-button>
                        <ui-button [icon]="'fa-solid fa-trash'" [type]="'primary-line'"></ui-button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
