/* You can add global styles to this file, and also import other style files */

:root {
    --z-index-1: 1010;
    --z-index-2: 1020;

    --sidebar-width: 240px;

    --primary-color: #9b5de5;
    --primary-hover-color: #7f43c7;
    --secondary-color: #7b7bba;

    --disabled-color: #4d4d4d;
    --disabled-text-color: #a1a1a1;

    --background-color: #1e1e2f;
    --surface-primary-color: #2a2a3d;
    --surface-primary-hover-color: #3d3d54;

    --primary-text-color: #f1f1f1;

    --success-color: #00f5d4;

    --error-color: #ff6b6b;
    --error-hover-color: #ff4c4c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}
