<nav class="sidebar">
    <div class="sidebar__list">
        <a
            class="sidebar__item"
            [routerLink]="['/analytics']"
            routerLinkActive="sidebar__item_active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <i class="item__icon fa-solid fa-chart-line"></i>
            <span class="item__name">Analytics</span>
        </a>

        <a
            class="sidebar__item"
            [routerLink]="['/shops']"
            routerLinkActive="sidebar__item_active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <i class="item__icon fa-solid fa-shop"></i>
            <span class="item__name">Establishments</span>
        </a>

        <a
            class="sidebar__item"
            [routerLink]="['/products']"
            routerLinkActive="sidebar__item_active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <i class="item__icon fa-solid fa-boxes-stacked"></i>
            <span class="item__name">Products</span>
        </a>

        <a
            class="sidebar__item"
            [routerLink]="['/orders']"
            routerLinkActive="sidebar__item_active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <i class="item__icon fa-solid fa-list-ul"></i>
            <span class="item__name">Orders</span>
        </a>
    </div>

    <a class="sidebar__item" (click)="logout()" [routerLink]="['/auth']">
        <i class="item__icon fa-solid fa-right-from-bracket"></i>
        <span class="item__name">Logout</span>
    </a>
</nav>
